<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property><!--ape driver class eke path eka dena eka thamai me krnne-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property><!--me dialect  ekata kiynna ona api use krna Mysql version eka mkdda kiyla-->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_module</property><!--database url eke name eka dena eka tamai meken krnne-->
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.show_sql">true</property><!--ape code eke Query ekk run wnawnm  e run wena query eka pennanne consoul eke  menna me property eka nisa-->
    <property name="hibernate.hbm2ddl.auto">update</property><!--update wladi klin thibuna data wlata kisima awlk nethuwa thawa data row ekk dagannawa ,CREATe wlidi klin table eka drop krla  aluthenma data row ekk dagnnawa-->
  </session-factory>
</hibernate-configuration>